

<div style="margin-top:0px;">
    @model MasalaDarbarRestaurants.Models.CustomerDetail

    @{
        ViewBag.Title = "Login";
    }
    <div style="margin-top:50px;" class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-md-12 col-xs-12">
                <h1 style="text-align:center;font-weight: 800;color:#4B4741;font-family:Helvetica;">
                    LOGIN  <small style="color:#777;font-weight: 400;line-height:1;font-family:Lucida Sans;display: block !important;text-transform: none;text-align:center;margin:10px 0px 15px 0px;">Login with Masala Darbar Restaurants</small>
                </h1>
                <img style="width:30%;height:30px;margin:0px auto;  " class="img-responsive" src="~/Resources/Images/line.png" />
            </div>
        </div>
    </div>



    <div style="margin-top:0px;" class="container">
        <div style="margin-top:20px;" class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <div style="border-color:#524440;" class="panel panel-info">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()


                        <div class="panel-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
         
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
             
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">

                                            <label class="rlabel" for="uname">Username</label>
                                            <div class="input-group ">
                                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @type = "text", @name = "unamee", @placeholder = "Your Username", @class = "form-control" } }) <span></span>
                                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                                <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                                            </div>
                                            <label class="rlabel" for="password">Password</label>
                                            <div class="input-group ">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @name = "password", @placeholder = "Enter your Password", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                               



                                                <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
                                            </div>
                                    </div>
                                    <div style="margin-top:50px;" class="row">
                                        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
                                            <button style="width:100%;height:60px;font-family:Lucida Sans;margin:0px auto;color:#EDFFFF;background-color:#8F2640;" type="submit" class="btn btn-default btn-lg"><h4>LOGIN</h4></button>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>

                            <div style="height:100px;text-align:center;" class="panel-footer"><br /><p style="font-size:20px;color:#777;font-family:Lucida Sans;">Order food Online or call us! : <strong>91+ 8700454580</strong></p></div>
                    }
                </div>
            </div>
        </div>

    </div>





</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
